/***
 *    Stylesheet that goes along with classes card-grid, card, card-title.
 */

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1em;
}

.card {
  padding: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
  min-width: 21em;
  text-align: center;
  border: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-title {
  font-size: 1.2em;
}
