h1 {
	text-align: center;
}

h2 {
	margin: 0em;
}

body {
	background: rgba(220,220,220, 0.1);
}

.role-grid {
	background: white;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr) ) ;
	grid-gap: 4px;
}

.role {
	background: rgba(220,220,220, 0.1);
	background-size: cover;
	text-align: center;
	padding:0.5em;
	padding-top: 15em;
}

.role > img {
	display:block;
	margin:auto;
	width:40%;
	padding:0.5em;
}